
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
    font-family: Avenir;
    font-size: 1rem;
    overflow-x: hidden;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(209 209 209/var(--tw-text-opacity))
}

@media (min-width: 1920px) {
    body {
        font-size:1.5rem;
        line-height: 2rem
    }
}

header{
    position: sticky;
    top: 0;
    z-index: 20;
}

.header-scn {
    box-shadow: 0 3px 2px #e3e3e3
}

.navovelay {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    opacity: 0;
    transition-property: .5s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-duration: all
}

.hdr-logonav-scn {
    position: fixed;
    width: 98.5%;
    height: 108px;
    border-bottom-width: 1px;
    border-style: solid;
    --tw-bg-opacity: 1;
    background-color: rgb(246 246 246/var(--tw-bg-opacity));
    padding-top: 0;
    padding-bottom: 0;
}

.header-inner {
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1024px){
.header-inner {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    -webkit-order: 2;
}

.navigation ul {
    display: flex;
    flex-flow: row wrap;
}

ul {
    list-style: none;
    margin: 0;
    padding:0
}

.navigation ul li {
    margin: 0 0.875rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.navigation ul li>a {
    position: relative;
    display: inline-block;
    padding: 1.875rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
    
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    
}
.navigation ul li.megamenu.active>a:before, .navigation ul li.megamenu:hover>a:before {
    position: absolute;
    left: 10%;
    bottom: 1.25rem;
    height: 0.25rem;
    width: 2.5rem;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 1rem;
    --tw-content: "";
    content: var(--tw-content);
    background: linear-gradient(105.27deg,#f07938 -17.58%,#c90b28 47.6%,#ae3081 113.33%);
}


.navigation ul li>a {
    position: relative;
    display: inline-block;
    padding: 1.875rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
    
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    
}

.navigation ul li.company_menuwrapper {
    position: relative;
}

@media (min-width: 1024px){
.company_submenu_wrapper.submenu {
    width: 15.625rem;
}
}

.company_submenu_wrapper.submenu {
    left: 0;
    --tw-translate-x: -0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}


.submenu {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 150%;
    display: flex;
    width: 100%;
    max-width: 78.75rem;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-top: 1px rgb(231 231 231/var(--tw-border-opacity));
    border-style: solid;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    opacity: 0;
    --tw-shadow: 9px 9px 15px 0px #00000024;
    --tw-shadow-colored: 9px 9px 15px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.company_sub_menu_main a {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

a {
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
    text-decoration: inherit;
}

.company_decription span {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
}

.navigation ul li.megamenu.active>a {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(14 14 14/var(--tw-text-opacity));

}

@media (min-width: 768px){
.logo {
    width: 12rem;
}
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}
img, video {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 4px;
}

.hdricons-part {
    padding-right: 33px;
    order: 3;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    -webkit-order: 3;
}

.call_header {
    margin-right: 1rem;
    cursor: pointer;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    --tw-bg-opacity: 1;
    background-color: rgb(201 11 40/var(--tw-bg-opacity));
    padding: 0.75rem;
}

a {
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
}
.btn_primary {
    border: 1px solid #0000;
    --tw-bg-opacity: 1;
    background-color: rgb(201 11 40/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.btn_primary, .btn_primary:hover {
    transition-property: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
@media (min-width: 768px){
.btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
}
.btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.btn {
    display: inline-block;
    border-radius: 1.625rem;
    padding: 0.625rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

/*************** hero section ******************/

@media (min-width: 1024px){
.service_hero {
    padding-top: 6rem;
}
}


.service_hero{
    position: relative;
    padding-bottom: 0;
}




.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 78.75rem;
    padding: 1px 0.9375rem;
}

@media (min-width: 1024px){
.main-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
}

 @media (min-width: 1024px){
.hero_contain_main {
    grid-template-columns: repeat(2,minmax(0,1fr));
}
} 

.hero_contain_main {
    margin-bottom: 3rem;
    display: grid;
    
    grid-template-rows: repeat(1,minmax(0,1fr));
    align-items: center;
    gap: 2rem;
}


@media (min-width: 1024px){
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


.hero_title_info h1 {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

@media (min-width: 1024px){
h1 {
    font-size: 3.75rem;
    line-height: 5rem;
}
}

.hero_title_info p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
/*
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*/





.hero_service_btn_part {
    border-radius: 1.0625rem;
    border: 1px solid #0000;
    background-image: linear-gradient(#0e0e0e,#0e0e0e),linear-gradient(257.03deg,#ad3183 8.39%,#c90b28 120.77%);
    background-origin: border-box;
    background-clip: content-box,border-box;
}


.hero_gradiant_border_space {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
}

.hero_service_btn_part p {
    max-width: 16.25rem;
}

.hero_service_btn_part p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.btn_primary {
    border: 1px solid #0000;
    --tw-bg-opacity: 1;
    background-color: rgb(201 11 40/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}


@media (min-width: 768px){
.btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
}

.btn {
    display: inline-block;
    border-radius: 1.625rem;
    padding: 0.625rem 1.75rem;
    
    font-weight: 400;
    
}

a {
   
    text-decoration: inherit;
}

@media (min-width: 768px){
.hero_service_image {
    margin-bottom: 0;
}
}

@media (min-width: 768px){
.bread_crumbs_menu_main {
    padding-top: 3rem;
}}

@media (min-width: 1024px){
.main-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    
}}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 78.75rem;
    padding: 1px 0.9375rem;
}

@media (min-width: 768px){
.breadcrumbs {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    gap: 1.25rem;
}}


.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.breadcrumbs a {
    --tw-text-opacity: 1;
    color: rgb(64 64 64/var(--tw-text-opacity));
}

@media (min-width: 768px){
.line {
    width: 4.625rem;
}}

.line {
    height: 0.0625rem;
    width: 2.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(14 14 14/var(--tw-bg-opacity));
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
}

@media (min-width: 1024px){
.m_app_devlop_head {
    flex-direction: row;
}}

.m_app_devlop_head {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.25rem;
}

@media (min-width: 768px){
.m_app_devlop_head h2 {
    margin-bottom: 0px;
}
}

.m_app_devlop_head h2 {
   
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(14 14 14 / var(--tw-text-opacity));
}

@media (min-width: 1024px){
h2 {
    font-size: 3.125rem;
    line-height: 4rem;
}
}

.m_devlop_tab {
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(209 209 209 / var(--tw-border-opacity));
}

@media (min-width: 768px){
.m_devlop_tab ul, .web_devlopment_tab ul {
    justify-content: flex-start;
    overflow: visible;
}}

.m_devlop_tab ul, .web_devlopment_tab ul {
    position: relative;
    display: flex;
    align-items: center;
    
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    
    padding-bottom: 0.75rem;
}

@media (min-width: 768px){
.enter_mob_devlop {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
}

.enter_mob_devlop {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(4, 4, 13);
    
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(105 105 105/var(--tw-text-opacity));
}
@media (min-width: 768px){
    .app_devlop_box_main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2.25rem;
    }
    }
    
    .app_devlop_box_main {
        padding-top: 2.25rem;
    }
    a {
        --tw-text-opacity: 1;
        color: rgb(105 105 105/var(--tw-text-opacity));
    }
.android_app_icon {
    background-image: url('/assets/icon/servicesfrontend-development/call-get-touch.svg');
}
.m_icon {
width: 5.0625rem;
background-size: contain;
background-position: 50%;
background-repeat: no-repeat;
}


/******** Job Section *******/
@media (min-width: 1024px){
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
}

.dp_job_section
{
    border-width: 2px;
    border: solid;
    
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-shadow: 15px 15px 100px 0px #00000021;
}

.dp_job_section h2{
    padding-bottom: 4rem;
    text-align: center;
    font-size: 3.125rem;
    line-height: 4rem;
    font-weight: 500;
}

.dp_call_email_job_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dp_job_call_info_main{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.dp_job_email_info_main{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.dp_job_email p{
    position: relative;
    font-size: 1.625rem;
    padding-bottom: 2.5rem;
}

.dp_job_calling p{
padding-bottom: 2.5rem;
font-size: 1.625rem;

}

.dp_job_email a {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgb(43 43 43 / var(--tw-text-opacity));
}

.dp_job_calling a{
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgb(43 43 43 / var(--tw-text-opacity));
}


.black_section {
    background: linear-gradient(105.6deg, #000000 0%, #393939 100%);
}


@media (min-width: 1024px){
.hr_life_hash {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}

.hr_life_hash{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 1024px){
.hr_life_hash_content {
    order: 0;
}
}

@media (min-width: 1024px){
h2 {
    font-size: 3.125rem;
    line-height: 4rem;
}
}
.hr_life_hash_content_p_h2 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

h2{
    font-weight: 500;
}
@media (min-width: 768px){
.btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
}}

.btn_primary {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgb(201 11 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    
}

@media (min-width: 768px){
.hr_life_hash_images {
    display: grid;
    height: 100%;
}
}

.hr_life_hash_images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem;
    padding-right: 19px;
}

.item_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.w_f {
    width: 90%;
    height: 100%;
}

.item_2 {
    grid-column-start: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
}

.item_3 {
    grid-column-start: 2;
   
    grid-row-start: 2;
    grid-row-end: 3;
}